# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.favorites.json
.favorites.json
.ssl

# Local env files
.env
.env.*
!.env.example
!.env.acc.example
!.env.prod.example

# vs code
!.vscode

# Sonarqube tmp
.scannerwork
